.ListaA
{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ListaB
{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
.ListaC
{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
h1
{
    color:blue
}
.Parrafos
{
    font-size: 20px;
    color: black;
    text-align: justify;
    line-height: 1.3;
    letter-spacing: -0.25px;
    text-transform: none;
}
h2
{
    font-family:'MKX';
}
h1
{
    font-family:'MKX';
    color:black;
}
.Subtitulos
{
    font-family: 'MKX';
    font-size:xx-large;
    text-align: left;
    font-style: normal;
}

.Contenedor_Imagen
{
    text-align: left;
}

body 
{
    background-color:whitesmoke;
}